@{
    ViewBag.Title = "Index";
}

<div class="index-content-column">
    <div class="link-list">
        <h2><a href="~/controls">Page Controls</a></h2>
        @foreach (var item in Stadium5Help.Models.Section.Controls)
        {
            <a href="@Href(item.Href)">@item.DisplayName</a>
        }
    </div>
</div>
<div class="index-content-column">
    <div class="link-list">
        <h2><a href="~/pagescripts">Script Components</a></h2>
        @foreach (var item in Stadium5Help.Models.Section.PageScripts)
        {
            <a href="@Href(item.Href)">@item.DisplayName</a>
        }
    </div>
</div>
<div class="index-content-column">
    <div class="link-list">
        <h2><a href="~/applicationexplorer">Designer Features</a></h2>
        @foreach (var item in Stadium5Help.Models.Section.ApplicationExplorer)
        {
            <a href="@Href(item.Href)">@item.DisplayName</a>
        }
    </div>
</div>
<div class="index-content-column">
    <div class="link-list">
        <h2><a href="~/frameworks">Frameworks</a></h2>
        @foreach (var item in Stadium5Help.Models.Section.Frameworks)
        {
            <a href="@Href(item.Href)">@item.DisplayName</a>
        }
    </div>
    <div class="link-list">
        <h2><a href="~/howitworks">How it works</a></h2>
        @foreach (var item in Stadium5Help.Models.Section.HowItWorks)
        {
            <a href="@Href(item.Href)">@item.DisplayName</a>
        }
    </div>
</div>