@{
    ViewBag.Title = "Page Controls";
}

<h1>Page Controls</h1>
All page controls are wrapped in a &lt;div&gt; tag with two classes.
<ul>
    <li>ControlContainer</li>
    <li>[ContolName]Container (i.e. LabelContainer)</li>
</ul>
In the end, a rendered button control will have the following html<br><strong>&lt;div class="ControlContainer ButtonContainer"&gt;&lt;button&gt;&lt;/button&gt;&lt;/div&gt;</strong>

@foreach (var item in Stadium5Help.Models.Section.Controls)
{
    <hr>
    <div class="iconWrap"><a href="@Href(item.Href)"><img src="@Href(item.Icon)" alt="" width="64" height="64" border="0" class="icon-64"></a></div>
    <div class="link-list-item">
        <h5><a href="@Href(item.Href)">@item.DisplayName</a></h5>
        @foreach(var descriptionPart in item.Description)
        {
            if(descriptionPart.IsHtml)
            {
                @Html.Raw(descriptionPart.Value)
            }
            else
            {
                @descriptionPart.Value
            }
        }
    </div>
    <div class="clearfix"></div>
}

<hr>